<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hangman</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Josefin+Sans|Karla|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles.css"></link>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style='background-image: url("/imgs/hangman2.jpg"); background-color: #fff'>
	<div class="container" style="background-color: rgb(255, 255, 255);">
	<%  if  guess_status.gsub(" ", '') == target_word || lives == 5 %>
		<!-- Once the game is over, this section appears to display their results -->
		<h1 class="headers main-heads"> Hangman</h1>
		<% if guess_status.gsub(" ", '') == target_word %>
			
			<div class="result-img">	
				<img style="width: 100%" src="/imgs/champion.jpg">
				<h3>You <span class="main-heads"> Champion!</span> You Won! The Word was '<%= target_word %>'</h3>
			</div>

		<% else %>
			
			<div class="result-img">
				<img src="/imgs/lose.jpg">
				<h3> <span class="main-heads">"HANG!"</span> You Lost! Ohh Noo! The Word was '<%= target_word %>' <span class="main-heads">GET REVENGE!</span></h3>
			</div>

		<% end %>
		<a class="play-again btn btn-default" href="/">Play Again!</a>	

	<% else %>
		<h1 class="headers main-heads"> Hangman</h1>
		
		<div class="main-content">
			<h3 class="headers" style="font-family: 'Archivo'" >Mystery Word Status:</h3>
			<h2 class="headers"><%=  guess_status  %></h2>
			<div class="form-container">
				<form>
					<input class="guess-field" type="text" maxlength="1" placeholder=":)..Try" name="guess" autofocus><br>
						
						<input class="guess-button" type="submit" value="Attempt!" required>
				</form>
			</div>
			<hr>
			
			<div class="user-stats">
				<div>
					<b  style="font-size: 20px;">Instructions/Feedback:</b>
					<p style=" font-size: 15px; font-family: 'Karla';" ><%= response %></p>
				</div>
				<div>
					<b style="font-size: 20px;">Status:</b>  <span class="main-heads" ><%= status if !lives.nil? %></span> 
				</div>		
			</div>
			<% if target_word.length < 8 %>
			<hr>
			<div class="hints main-heads">
				<h2>Hints:</h2>
				<p>Below you have an array(Group) of letters that includes every letter from our mystery word and then some to make it a bit of fun for you :)</p>
				<h3><%= hint %></h3>
			</div>
			<% end %>
		</div>

		<div id="plain-response" >
			<%= footer_res %>
		</div>
	
	<% end %>
	</div>	
</body>

</html>